<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"></meta>
  <title>Minimal Web Page</title>
</head>

<body>
  <h1>Minimal Web Page</h1>
  <p>This project is used, in part, to show you how to deploy a simple
     web page to heroku.com</p>
</body>
</html>
